@use "../../presets" as *;
@use "../../mixins" as *;

.apps {
  padding: 80px 0 80px 0;

  background-color: $bg-color-bisque;

  &--container {
    display: grid;
    align-items: center;

    @include lg-min {
      grid-template-areas: "wrap pic";
    }
    @include lg {
      gap: 25px;
      grid-template-areas: "wrap" "pic";
    }
  }

  &__pictures {
    display: flex;

    gap: 70px;
    grid-area: pic;
    @include lg-min {
      padding-left: 70px;
    }
    @include lg {
      justify-content: center;

      padding-top: 40px;

      border-top: 2px solid black;
    }
    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}

.apps-wrapper {
  display: flex;
  align-items: center;

  gap: $gap * 3.4;
  grid-area: wrap;
  @include lg-min {
    border-right: 2px solid black;
  }
  @include lg {
    text-align: center;
  }
  @include sm {
    flex-direction: column-reverse;

    gap: $gap * 2;
  }

  &__title {
    order: 2;

    font-size: 2.18rem;
    font-weight: 600;
    line-height: 1.43;
  }

  &__picture {
    order: 1;
  }

  &__image {
    @include sm {
      width: 75%;
    }
  }
}
