@use "../../presets" as *;
@use "../../mixins" as *;

.job-productivity {
  padding: 150px 0;

  &--container {
    display: grid;

    gap: $gap * 4 $gap * 1.5;

    @include lg-min {
      grid-template-areas: "ttl ttl ttl";
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-sm {
      grid-template-areas: "ttl ttl";
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      text-align: center;

      grid-template-areas: "ttl";
      grid-template-columns: 1fr;
    }
  }

  &__title {
    text-align: center;

    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.2;

    grid-area: ttl;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    gap: $gap * 1.25;
  }

  &__text {
    order: 2;

    padding-top: 35px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.33;
  }

  &__descriptions {
    order: 3;

    padding-top: 10px;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__actions {
    order: 4;
  }

  &__links {
    text-decoration: underline;

    font-size: 1.25rem;
    line-height: 1.5;
  }

  &__pictures {
    flex-basis: 200px;
    order: 1;
  }
}