@use "../../presets" as *;
@use "../../mixins" as *;

.job-content {
  display: grid;
  row-gap: $gap * 12.5;
  padding: 100px 0;
}

.job-content__section {
  display: grid;
  grid-template-areas: "wrap pic";
  grid-template-columns: 1fr 1fr;
  gap: $gap * 7;
  align-items: center;

  &.job-content__section:nth-child(2n) {
    grid-template-areas: "pic wrap";
    grid-template-columns: 1fr 1fr;
  }
}

.job-content__wrapper {
  grid-area: wrap;

  max-width: 520px;
}

.job-content__titles {
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1.2;
}

.job-content__descriptions {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 30px 0 30px 0;
}

.job-content__descriptions__links {
  text-decoration: underline;
}

.job-content__actions {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
}

.job-content__links {}

.job-content__pictures {
  grid-area: pic;
}

.job-content__images {
  width: 100%;
}