@use "../../presets" as *;
@use "../../mixins" as *;

.job-interaction {
  padding: 130px 0;
  text-align: center;
  background-color: $color-cream;

  &--container {
    display: grid;

    gap: $gap * 3.8 $gap * 6.5;

    @include lg-min {
      grid-template-areas: "ttl ttl ttl";
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-sm {
      grid-template-areas: "ttl ttl";
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-areas: "ttl";
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-size: 3.12rem;
    font-weight: 600;
    line-height: 1.2;

    grid-area: ttl;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: $gap * 1.2;
  }

  &__text {
    order: 2;

    font-size: 1.56rem;
    font-weight: 600;
    line-height: 1.3;
  }

  &__descriptions {
    order: 3;

    font-size: 1.12rem;
    line-height: 1.4;

    &__links {
      text-decoration: underline;
    }
  }

  &__pictures {
    order: 1;
  }
}