@use "../../presets" as *;
@use "../../mixins" as *;

.job-interaction {
  background-color: #FFF8E6;
  padding: 130px 0;
  text-align: center;
}

.job-interaction__title {
  grid-area: ttl;
  font-weight: 600;
  font-size: 3.12rem;
  line-height: 1.2;
}

.job-interaction--container {
    display: grid;
  grid-template-areas: "ttl ttl ttl";
  grid-template-columns: repeat(3, 1fr);
  gap: $gap * 3.8 $gap * 6.5;
}

.job-interaction__wrapper {}

.interaction-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap * 1.2;
  justify-content: flex-start;

}

.interaction-wrapper__titles {
  font-weight: 600;
  font-size: 1.56rem;
  line-height: 1.3;
  order: 2;
}

.interaction-wrapper__descriptions {
  font-size: 1.12rem;
  line-height: 1.4;
  order: 3;
}

.interaction-wrapper__pictures {
  order: 1;
}

.interaction-wrapper__images {}