@use "../../presets" as *;
@use "../../mixins" as *;

.job-interaction {
  padding: 130px 0;
  text-align: center;
  background-color: $color-cream;

  &--container {
    display: grid;

    gap: $gap * 3.8 $gap * 6.5;
    @include lg-min {
      grid-template-areas: "ttl ttl ttl";
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-sm {
      grid-template-areas: "ttl ttl";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "ttl";
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-size: 3.12rem;
    font-weight: 600;
    line-height: 1.2;

    grid-area: ttl;
  }
}