@use "../../presets" as *;
@use "../../mixins" as *;

.job-content {
  display: grid;

  padding: 100px 20px;

  @include lg {
    row-gap: $gap * 5;
  }
  row-gap: $gap * 12.5;

  &__section {
    display: grid;
    align-items: center;

    gap: $gap * 7;
    grid-template-areas: "wrap pic";
    grid-template-columns: 1fr 1fr;
    @include lg {
      text-align: center;

      grid-template-areas: "wrap"
      "pic";
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: $gap * 1.5;
    }

    &:nth-child(2n) {
      grid-template-areas: "pic wrap";
      grid-template-columns: 1fr 1fr;
      @include lg {
        grid-template-areas: "wrap"
        "pic";
        grid-template-columns: 1fr;
      }
    }
  }

  &__wrapper {
    max-width: 520px;

    grid-area: wrap;
  }

  &__titles {
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 1.2;
  }

  &__descriptions {
    padding: 30px 0 30px 0;

    font-size: 1.25rem;
    line-height: 1.5;

    &__links {
      text-decoration: underline;
    }
  }

  &__actions {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
  }

  &__pictures {
    grid-area: pic;
  }

  &__images {
    width: 100%;

    @include lg {
      width: 80%;
    }
  }
}
