@use "../../presets" as *;
@use "../../mixins" as *;

.politic {

  &--container {}

  &__wrapper {

    &--lokalise {}

    &--reserved {}
  }

  &__descriptions {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.25;
  }

  &__picture {}

  &__image {}
}