@use "../../presets" as *;
@use "../../mixins" as *;

.brands {
  background-color: $bg-color-coral;
}

.container--brands {}

.brands__title {
  font-weight: 600;
  font-size: 3.12rem;
  line-height: 1.2;
}

.brands__list {}

.brands__picture {}

.brands__image {}