@use "../../presets" as *;
@use "../../mixins" as *;

.brands {
  background-color: $bg-color-coral;
  padding: 100px 0;

  &__title {
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 1.2;
    margin: 0 0 $gap * 2.5;
    text-align: center;
  }

  &__list {
    display: grid;
    align-items: center;
    gap: ($gap * 2) $gap;

    @include lg-min {
      justify-content: space-between;
      grid-template-columns: repeat(6, 1fr);
      text-align: center;
    }

    @include lg-sm {
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }

    @include sm {
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  }
}