@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: grid;
  grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
  grid-template-columns: 540px 1fr;
  row-gap: $gap * 1.25;
  padding: $gap * 1.5 0;
  margin: auto;
  align-items: center;

  @include xl-min {
    grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
    grid-template-columns: 540px 1fr;
  }

  @include xl-lg {
    grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-areas: "ttl" "dcr" "pic" "act" "nts";
    grid-template-columns: 1fr;
    text-align: center;
  }

  &__title {
    grid-area: ttl;

    font-weight: 600;
    line-height: 1.08;
    margin: 0;

    @include lg-min {
      font-size: 4.06rem;
    }

    @include lg {
      font-size: 3.125rem;
    }
  }

  &__description {
    grid-area: dcr;

    font-size: 1.56rem;
    line-height: 1.4;
    padding: $gap * 1.25 0;

    @include lg-min {
      font-size: 1.56rem;
      padding-right: 10px;
    }

    @include lg {
      font-size: 1.25rem;
    }
  }

  &__actions {
    grid-area: act;

    display: flex;
    gap: $gap-sm;

    @include lg {
      justify-content: center;
    }
  }

  &__notes {
    grid-area: nts;

    line-height: 1.67;
  }

  &__picture {
    grid-area: pic;
  }

  &__image {

    @include lg-min {
      width: 100%;
    }

    @include lg-sm {
      width: 70%;
    }

    @include sm {
      width: 80%;
    }
  }
}