@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: flex;

  gap: $gap;

  &__list {
    display: flex;
    flex-wrap: wrap;

    gap: $gap;
    @include lg {
      justify-content: center;
    }
    @include unlist;
  }

  &__items {
    line-height: 20px;
  }

  &__links {
    padding: 0.5em $gap;
  }
}
