@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gap;
  padding-top: $gap;
  padding-bottom: $gap;
}

.header-menu__logo {}

.header-menu__navbar {}

.header-menu__actions {
  margin-left: auto;
}