@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  display: grid;
  align-items: center;

  margin: auto;
  padding: $gap * 1.5 0;

  grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
  grid-template-columns: 540px 1fr;
  @include xl-min {
    grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
    grid-template-columns: 540px 1fr;
  }
  @include xl-lg {
    grid-template-areas: "ttl pic" "dcr pic" "act pic" "nts pic";
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    text-align: center;

    grid-template-areas: "ttl" "dcr" "pic" "act" "nts";
    grid-template-columns: 1fr;
  }
  row-gap: $gap * 1.25;

  &__title {
    margin: 0;

    font-weight: 600;
    line-height: 1.08;

    grid-area: ttl;
    @include lg-min {
      font-size: 4.06rem;
    }
    @include lg {
      font-size: 3.125rem;
    }
  }

  &__description {
    padding: $gap * 1.25 0;

    font-size: 1.56rem;
    line-height: 1.4;

    grid-area: dcr;
    @include lg-min {
      padding-right: 10px;

      font-size: 1.56rem;
    }
    @include lg {
      font-size: 1.25rem;
    }
  }

  &__actions {
    display: flex;

    gap: $gap-sm;
    grid-area: act;
    @include lg {
      justify-content: center;
    }
  }

  &__notes {
    line-height: 1.67;

    grid-area: nts;
  }

  &__picture {
    grid-area: pic;
  }

  &__image {
    @include lg-min {
      width: 100%;
    }
    @include lg-sm {
      width: 85%;
    }
    @include sm {
      width: 80%;
    }
  }
}
