@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: relative;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  padding-top: $gap * 1.25;
  padding-bottom: $gap * 1.25;

  gap: $gap;
  @include lg {
    flex-direction: column;
    justify-content: center;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100vw;
    height: 1px;
    margin-left: -50vw;

    content: "";

    background-color: rgba($color-primary, 0.5);
  }

  &__actions {
    @include lg-min {
      margin-left: auto;
    }
  }
}
