@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {}

.header-content__title {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
}

.header-content__description {
  font-size: 25px;
  line-height: 35px;
}

.header-content__actions {}

.header-content__btn {}

.header-content__notes {
  line-height: 25px;
}

.header-content__picture {}