@use "../../presets" as *;
@use "../../mixins" as *;

.feedback {
  padding: 50px 0 100px 0;
  background-color: $bg-color-azure;

  &--container {
    display: grid;

    grid-template-areas: "wrap pic";

    @include lg-min {
      gap: $gap * 3.6;
    }

    @include lg {
      gap: $gap * 3;
    }

    @include md {
      text-align: center;

      grid-template-areas: "pic" "wrap";
    }
  }

  &__picture {
    grid-area: pic;
  }
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;

  grid-area: wrap;

  &__title {
    @include visually-hidden;
  }

  &__descriptions {
    font-size: 1.875rem;
    line-height: 1.33;
  }

  &__notes {
    padding-top: 25px;
    padding-bottom: 6px;

    font-size: 0.937rem;
    line-height: 1.67;
  }
}