@use "../../presets" as *;
@use "../../mixins" as *;

.about-menu {

  &__content {}

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &__list {}

  &__items {
    font-size: 0.93rem;
    line-height: 1;
  }
}