@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  padding: 95px 0 95px 0;

  &--container {
    display: flex;
    align-items: baseline;

    @include lg-min {
      gap: $gap * 7;
    }
    @include lg {
      gap: $gap * 5;
    }
    @include md {
      flex-wrap: wrap;
      justify-content: center;

      text-align: center;
    }
  }
}
