@use "../../presets" as *;
@use "../../mixins" as *;

.about-motivation {
  display: grid;

  gap: $gap-sm;
  grid-template-areas: "ttl" "pic" "brd" "disc" "nts";
  grid-template-columns: 300px;

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.25;

    grid-area: ttl;
  }

  &__descriptions {
    padding-bottom: 5px;

    font-size: 1.25rem;
    line-height: 1.5;

    grid-area: disc;
  }

  &__notes {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;

    grid-area: nts;
  }

  &__picture {
    padding: 20px 0 20px 0;

    grid-area: pic;
  }

  &__brands {
    grid-area: brd;
  }
}
