@use "../presets" as *;
@use "../mixins" as *;

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gap;
}

.btn {
  display: block;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5em;
}

.btn-sm {
  width: 120px;
  height: 45px;
}

.btn-mg {
  width: 160px;
  height: 60px;
}

.btn-orange {
  background-color: $bg-color-orange;
  color: white;
  border: none;
}

.btn-light {
  background-color: white;
  border: 1px solid rgba($color-primary, 0.5);
}