@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: 400;
  /*   line-height: 1.333; */
}

body {
  font-size: 15px;
  color: $color-primary;
    overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: $color-primary;
}